/**
 * Place your custom styles here.
 */
 
/**** Fonts ****/

@font-face {
    font-family: InterstateBold;
    src: url('fonts/Interstate-Bold.ttf');
}

/**** Global Styles ****/

h1, h2, h3 {
  font-family: InterstateBold;
}

/*** Links ***/

h1 > a, h2 > a, h3 > a, h4 > a {
  text-decoration: none !important;
}